.hour {
  height: 42px;
  border-bottom: 1px solid #444;
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
	height: 4cap;

p {
  flex: 1;
  text-align: center;
}
  }
  b {
	font-weight: 400;
	margin-inline: 1.2em;
  }

}

article {
  width: 100%;

}